<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="axiostecnologi02" connectionString="server=mysql24-farm10.kinghost.net; user ID=axiostecnologi02; password=Jo4nnyLu1z; database=axiostecnologi02" providerName="MySql.Data.MySqlClient;" />
    <add name="AxiosDental.Properties.Settings.axios_dental_devConnectionString" connectionString="server=mysql24-farm10.kinghost.net;user id=axiostecnologi02;database=axiostecnologi02" providerName="MySql.Data.MySqlClient" />
    <add name="AxiosDental.Properties.Settings.axios_dental" connectionString="server=mysql24-farm10.kinghost.net;user id=axiostecnologi02;password=Jo4nnyLu1z;persistsecurityinfo=True;database=axiostecnologi02" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>